// todo 过滤器 module 对象文件

// 格式化家庭名
var formatRoomName = function (val, len, formPage) {
  if (val.length == 0 || val == undefined) {
    return
  }
  if (formPage == 'addSuccess') {
    val = val.trim()
  }
  if (val.length > len) {
    return val.substring(0, len) + '...'
  } else {
    return val
  }
}

// 格式化家庭名
var toLocaleLowerCase = function (val) {
  return val.toLocaleLowerCase()
}

module.exports = {
  formatRoomName: formatRoomName,
  toLocaleLowerCase: toLocaleLowerCase,
}
